html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --c-indigo: rgb(55, 59, 112);
    --c-gold: rgb(211, 186, 132);
    --c-parchment: rgb(227, 202, 168);
    --c-kelp: rgb(28, 28, 26);

    --c-gold-light: rgb(255, 239, 204);
    --c-gold-dark: rgb(96, 87, 66);
}

.slide-up-down-enter-active,
.slide-up-down-leave-active {
    transition: transform 0.4s ease;
}

.slide-up-down-enter-from,
.slide-up-down-leave-to {
    transform: translateY(100%);

}

.slide-up-down-enter-to,
.slide-up-down-leave-from {
    transform: translateY(0%);

}