html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --c-indigo: rgb(55, 59, 112);
    --c-gold: rgb(211, 186, 132);
    --c-parchment: rgb(227, 202, 168);
    --c-kelp: rgb(28, 28, 26);

    --c-gold-light: rgb(255, 239, 204);
    --c-gold-dark: hsl(42, 19%, 25%);
}

html,
body {
    overscroll-behavior: none;
}

.back-button {
    border: none;
    color: white;
    width: 1.5rem;
    height: 1.5rem;
    background-color: currentColor;
    mask-image: url("/images/back.svg");
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-position: center;
}

.slide-up-down-enter-active,
.slide-up-down-leave-active {
    transition: transform 0.4s ease;
}

.slide-up-down-enter-from,
.slide-up-down-leave-to {
    transform: translateY(100%);

}

.slide-up-down-enter-to,
.slide-up-down-leave-from {
    transform: translateY(0%);

}

.slide-left-right-enter-active,
.slide-left-right-leave-active {
    transition: transform 0.4s ease;
}

.slide-left-right-enter-from,
.slide-left-right-leave-to {
    transform: translateX(100%);

}

.slide-left-right-enter-to,
.slide-left-right-leave-from {
    transform: translateX(0%);

}